$bodyPadding: 12px * 2;
$tableMargin: 50px * 2;
$playerSize: 120px;

@mixin player-on-circle($count) {
  &-size-#{$count} {
    > .players > .player-positioner {
      $angle: (360 / $count);

      $rot: 0;

      @for $i from 1 through $count {
        &:nth-child(#{$i}) {
          transform: rotate($rot * 1deg) translate(calc(100% - $playerSize / 2));

          > .player-wrapper {
            transform: rotate(0deg) translateY(-50%) rotate($rot * -1deg);
          }
        }

        $rot: $rot + $angle;
      }
    }
  }
}

.table {
  position: relative;
  width: 100%;
  height: 100%;
  border: 8px solid #473613;
  border-radius: 50%;
  background: #0f5c08;
  padding: 0;
  list-style: none;

  > .players > .player-positioner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    > .player-wrapper {
      position: absolute;
      top: 50%;
      left: 0;
      width: $playerSize;
      height: $playerSize;
      padding: 0;
    }
  }

  @for $i from 1 through 9 {
    @include player-on-circle($i);
  }

  .actions {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: none;

    .btn-outline-dark:not(.active) {
      background-color: white;
      color: black;
      margin: 4px;
      filter: none;
    }

    input[type='range'] {
      border: none;
      width: 120px;
      margin: 4px;
      padding-top: 16px;
      background: none;
    }

    .raiseButton {
      width: 120px;
    }

    .form-switch {
      display: inline-block;

      label {
        padding: 0;
      }
    }
  }
}
