.player {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(#CCC, #999);
  border: 6px solid #666;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.disconnected {
    opacity: 0.5;
  }

  > .timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: calc(100% + 19px);
    height: calc(100% + 19px);

    fill: transparent;
    stroke-width: 6px;
    stroke-dasharray: 283;

    animation-name: timerAnimation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

  > .details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > .name {
      text-align: center;
      padding: 2px 8px;
      background: rgba(150 150 150 / 75%);
      border-radius: 8px;
      border: 1px solid #333;
      font-size: 1.2rem;
      line-height: 1.2;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box !important;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
    }

    > .chips {
      padding: 2px 8px;
    }
  }

  .cards {
    position: absolute;
    top: calc(100% + 12px);
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    text-align: center;

    .card-wrapper {
      display: inline-block;
      margin: 0 4px;

      .card {
        height: 80px;
        border: none;
        background: none;
        display: inline-block;
        width: 48px;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@keyframes timerAnimation {
  0% {
    stroke: forestgreen;
    stroke-dashoffset: 0;
  }

  37% {
    stroke: yellow;
  }

  75% {
    stroke: red;
  }

  100% {
    stroke: red;
    stroke-dashoffset: 283;
  }
}
